* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}


/* Header */

/* Navbar */
nav {
  background-color: #004080;
  height: 68px;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 999;
}

nav ul, nav img {
  display: inline-block;
}

nav img {
  padding: 15px 2% 15px 8%;
  vertical-align: middle;
}

nav li {
  display: inline-block;
}

nav li a {
  text-decoration: none;
  padding: 10px;
  color: white;
  line-height: 68px;
  font-size: 13px;
}

nav .right {
  float: right;
  display: inline-block;
  margin-right: 8%;
}

nav .right a {
  text-decoration: none;
  padding: 10px 0;
  color: white;
  line-height: 68px;
  font-size: 13px;
}

#login {
  padding: 2px 20px;
  color: white;
  font-size: 13px;
  background-color: #004080;
  border-radius: 5px;
  border: 1px solid #fff;
  margin: 0 20px;
}

#piano {
  padding: 2px 15px;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #23c123;
  color: white;
  background-color: #23c123;
}

/* Presentation */
.presentation {
  margin-top: 68px;
  background-color: #004080;
  background-image: url('img/jumbo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 50vh;
}

.presentation h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  padding-top: 8%;
  margin-left: 8%;
}

.presentation button {
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #23c123;
  color: white;
  background-color: #23c123;
  margin-top: 20px;
  margin-left: 8%;
}

/* Grey space */
.grey {
  background-color: #ddd;
  text-align: center;
}

.grey h3 {
  padding: 20px 0 5px;
}

.grey .sotto {
  color: #888;
  padding-bottom: 20px;
}



/* Main part */


/* First sec. */

/* Columns */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.clearfix article {
  float: left;
  width: 26%;
  text-align: center;
  margin: 40px 0;
}

.clearfix .art2 {
  margin: 40px 11%;
}

.clearfix article img {
  height: 100px;
}

.clearfix h3 {
  color: #12c123;
}

.clearfix .hr {
  background-color: #aaa;
  width: 20%;
  height: 1px;
  margin: 10px auto;
}

.clearfix p {
  color: #888;
}

.clearfix {
  margin: 0 10%;
  border-bottom: 1px solid #888;
}
